<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>student_authentication</servlet-name>
        <servlet-class>student_authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_registration</servlet-name>
        <servlet-class>student_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>student_removal</servlet-name>
        <servlet-class>student_removal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacher_authentication</servlet-name>
        <servlet-class>teacher_authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacher_registration</servlet-name>
        <servlet-class>teacher_registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_java</servlet-name>
        <servlet-class>check_java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_android</servlet-name>
        <servlet-class>check_android</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_cryptography</servlet-name>
        <servlet-class>check_cryptography</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>student_authentication</servlet-name>
        <url-pattern>/student_authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_registration</servlet-name>
        <url-pattern>/student_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>student_removal</servlet-name>
        <url-pattern>/student_removal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacher_authentication</servlet-name>
        <url-pattern>/teacher_authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacher_registration</servlet-name>
        <url-pattern>/teacher_registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_java</servlet-name>
        <url-pattern>/check_java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_android</servlet-name>
        <url-pattern>/check_android</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_cryptography</servlet-name>
        <url-pattern>/check_cryptography</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
